<div class="product-card">
  <div class="product-images">
    <!-- <img src="/assets/images/image.png" class="main-image" alt="Product Image"> -->

    <img [src]="product.images" class="main-image" alt="Product Image">
    <!-- <div class="thumbnail-container">
      <img src="image.png" class="thumbnail" alt="Thumbnail">
    </div> -->
  </div>

  <div class="product-info">
    <span class="discount">{{ product.discount }}</span>
    <h2>{{ product.name }}</h2>
    <div class="rating">
      <span>⭐ {{ product.rating }} ({{ product.reviews }} отзывов)</span>
    </div>
    
    <p><strong>Цена:</strong> <span class="price">{{ product.price }} ₸</span></p>
    <p><strong>В кредит:</strong> <span class="credit">{{ product.creditPrice }} ₸ × {{ product.creditMonths }} мес</span></p>

    <label><strong>Цвет:</strong> {{ product.color }}</label><br>
    <label><strong>Объем памяти:</strong> {{ product.storage }} ГБ</label>

    <button (click)="openKaspi()" class="kaspi-button">Открыть в приложении Kaspi.kz</button>
  </div>
</div>


<app-kaspi-kz></app-kaspi-kz>